<a href="https://colab.research.google.com/github/pranjalmourya/Myfiles/blob/main/Sort_Union_aggregtion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [3]:
from threading import local
from pyspark.sql import SparkSession
spark = (
     SparkSession
    .builder
    .appName("Sort_union_agg")
    .master("local[*]")
    .getOrCreate()
      )

In [4]:
emp_data_1 = [
      ["001","101","John Doe","30","Male","50000","2015-01-01"]
    , ["002","101","Jane Smith","25","Female","45000","2016-02-15"]
    , ["003","102","Bob Brown","35","Male","55000","2014-05-01"]
    , ["004","102","Alice Lee","28","Female","48000","2017-09-30"]
    , ["005","103","Jack Chan","40","Male","60000","2013-04-01"]
    , ["006","103","Jill Wong","32","Female","52000","2018-07-01"]
    , ["007","101","James Johnson","42","Male","70000","2012-03-15"]
    , ["008","102","Kate Kim","29","Female","51000","2019-10-01"]
    , ["009","103","Tom Tan","33","Male","58000","2016-06-01"]
    , ["010","104","Lisa Lee","27","Female","47000","2018-08-01"] ]

emp_data_2 = [
      ["011","104","David Park","38","Male","65000","2015-11-01"],
      ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
      ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
      ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
      ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
      ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
      ["017","105","George Wang","34","Male","57000","2016-03-15"],
      ["018","104","Nancy Liu","29","","50000","2017-06-01"],
      ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
      ["020","102","Grace Kim","32","Female","53000","2018-11-01"] ]

In [5]:
Emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [6]:
emp1 = spark.createDataFrame(emp_data_1,schema = Emp_schema)
emp2 = spark.createDataFrame(emp_data_2,schema = Emp_schema)

In [7]:
emp1.show()
emp2.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        011|          104| David Park| 38|  Male| 65000|2015-11-01|
|        012|          105| Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|  Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|  Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|  Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [9]:
Emp_union = emp1.union(emp2)
Emp_union.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [10]:
from pyspark.sql.functions import desc, asc,col
Emp_sorter = Emp_union.orderBy(col("salary").desc())
Emp_sorter.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
+-----------+-------------+-------------+---+------+------+----------+

In [11]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, schema=columns)
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [12]:
#from pyspark.sql.types import StructType, StructField, StringType, IntegerType

data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
Data_schema = ["Name String","Age integer"]
df = spark.createDataFrame(data,Data_schema)

df.show()

+-----------+-----------+
|Name String|Age integer|
+-----------+-----------+
|      Alice|         25|
|        Bob|         30|
|    Charlie|         35|
+-----------+-----------+

In [ ]:
df.printSchema()

root
 |-- Name String: string (nullable = true)
 |-- Age integer: long (nullable = true)

In [13]:
Emp_union.repartition("department_id").write.format("csv").mode("overwrite").save("/content/sample_data/Emp_union.csv")

In [14]:
Emp_union.write.format("csv").mode("overwrite").save("/content/sample_data/Emp_union.csv")

In [18]:
Emp_union.rdd.getNumPartitions()

4