<a href="https://colab.research.google.com/github/pranjalmourya/Myfiles/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark2 = (
    SparkSession
    .builder
    .appName("practicce")
    .config("spark.some.config.option", "some-value")
     .getOrCreate()
)

In [ ]:

Spark = (
    SparkSession
    .builder
    .appName('Sparsession')
    .master("local[*]")
    .getOrCreate()
)

In [ ]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","" ,"50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

#emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
emp = spark2.createDataFrame(data=emp_data, schema= ["employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"])

NameError: name 'spark2' is not defined

In [ ]:
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp.rdd.partitionBy("department_id").getNumPartitions()

Py4JError: An error occurred while calling None.org.apache.spark.api.python.PythonPartitioner. Trace:
py4j.Py4JException: Constructor org.apache.spark.api.python.PythonPartitioner([class java.lang.String, class java.lang.Long]) does not exist
	at py4j.reflection.ReflectionEngine.getConstructor(ReflectionEngine.java:180)
	at py4j.reflection.ReflectionEngine.getConstructor(ReflectionEngine.java:197)
	at py4j.Gateway.invoke(Gateway.java:237)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [ ]:
emp_final = emp.where("Salary > 50000")

In [ ]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
#Emp_alter = emp_final.withColumnRenamed("name","Employee name")
Emp_alter = emp_final.withColumns("Tax","salary"*0.2)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
Emp_alter.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|Employee name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp_final.rdd.getNumPartitions()

2

In [ ]:
#emp_final = spark2.read.format("csv").option("header",True).load("/content/sample_data/customers-1000.csv")
#os.write.format("csv").save("/content/sample_data")

In [ ]:
from datetime import date
from pyspark.sql.types import  *
schema = StructType().add(StructField("Index", IntegerType(),True))\
                     .add(StructField ("Customer Id",   IntegerType(),True))\
                     .add(StructField ("First name", StringType(),True))\
                     .add(StructField ("last name",  StringType(),True))\
                     .add(StructField ("company",  StringType(),True))\
                     .add(StructField ("City",  StringType(),True))\
                     .add(StructField ("Country",  StringType(),True))\
                     .add(StructField ("Phone 1", IntegerType(),True))\
                     .add(StructField ("Phone 2",  IntegerType(),True))\
                     .add(StructField ("Email",  StringType(),True))\
                     .add(StructField ("Subscription Dates",DateType(),True))\
                     .add(StructField ("website", StringType(),True))
emp_final2 = spark2.read.option("header",True).csv("/content/sample_data/customers-1000.csv", schema = schema)

In [ ]:
from datetime import date
from pyspark.sql.types import  *
schema1 = StructType([StructField("Index", IntegerType(),True)\
                     ,StructField ("Customer Id",   IntegerType(),True)\
                     ,StructField ("First name", StringType(),True)\
                     ,StructField ("last name",  StringType(),True)\
                     ,StructField ("company",  StringType(),True)\
                     ,StructField ("City",  StringType(),True)\
                     ,StructField ("Country",  StringType(),True)\
                     ,StructField ("Phone 1", IntegerType(),True)\
                     ,StructField ("Phone 2",  IntegerType(),True)\
                     ,StructField ("Email",  StringType(),True)\
                     ,StructField ("Subscription Dates",DateType(),True)\
                     ,StructField ("website", StringType(),True)
])
#emp_final2 = spark2.read.option("header",True).csv("/content/sample_data/customers-1000.csv", schema = ("index = Intger,Customr ID =Integer, First name = String,Last name = String, company = String , City = String, Country = String, Phone 1 = Integer,Phone 2 = Integer, Email = String,Subscription Dates = String, Website = String ") )

emp_final3 = spark2.read.option("header",True).csv("/content/sample_data/customers-1000.csv", schema = schema1)

NameError: name 'spark2' is not defined

In [ ]:
emp_final3 = emp_final2.na.drop

In [ ]:
emp_final2.count()

1000

In [ ]:
emp_final3.count()

0

In [ ]:
#emp_final2.show()
#emp_final2.printSchema()

display(emp_final2)

DataFrame[Index: int, Customer Id: int, First name: string, last name: string, company: string, City: string, Country: string, Phone 1: int, Phone 2: int, Email: string, Subscription Dates: date, website: string]

In [ ]:
import os
os.chdir("/kaggle/input")
pf = os.getcwd()
print(pf)

/kaggle/input

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
emp_filtered = emp_final.selectExpr('cast(age as int)as age','cast(employee_id as int)','name','gender','cast(salary as double) as Salary',)

In [ ]:
#emp_final.show()
#emp_filtered.show()
emp_filtered.schema

StructType([StructField('age', IntegerType(), True), StructField('employee_id', IntegerType(), True), StructField('name', StringType(), True), StructField('gender', StringType(), True), StructField('Salary', DoubleType(), True)])

In [ ]:
emp.schema

StructType([StructField('employee_id', StringType(), True), StructField('department_id', StringType(), True), StructField('name', StringType(), True), StructField('age', StringType(), True), StructField('gender', StringType(), True), StructField('salary', StringType(), True), StructField('hire_date', StringType(), True)])

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema_string = "name string, age int"
schema_spark = StructType(
    [
        StructField("name", StructType(),True),
        StructField("age",IntegerType(),True)
    ]

)

In [ ]:
emp_filtered.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
emp_filtered.show()

+---+-------------+
|age|         name|
+---+-------------+
| 35|    Bob Brown|
| 40|    Jack Chan|
| 32|    Jill Wong|
| 42|James Johnson|
| 29|     Kate Kim|
| 33|      Tom Tan|
| 38|   David Park|
| 31|   Susan Chen|
| 45|    Brian Kim|
| 37|  Michael Lee|
| 34|  George Wang|
| 36|  Steven Chen|
| 32|    Grace Kim|
+---+-------------+

In [ ]:
from pyspark.sql.functions import col, expr

In [ ]:
emp_Casted = emp_final.select('employee_id', 'department_id', 'name','age').where('age > 35')

In [ ]:
emp_Casted.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: double (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: string (nullable = true)

In [ ]:
#from pyspark.sql.functions import col, cast,expr, lit

emp_Casted = emp_final.select('employee_id', col('department_id').cast("double"), 'name','age',col('salary').cast('Double')).where('age > 35')

In [ ]:
emp_Casted.show()

+-----------+-------------+-------------+---+-------+
|employee_id|department_id|         name|age| salary|
+-----------+-------------+-------------+---+-------+
|        005|        103.0|    Jack Chan| 40|60000.0|
|        007|        101.0|James Johnson| 42|70000.0|
|        011|        104.0|   David Park| 38|65000.0|
|        013|        106.0|    Brian Kim| 45|75000.0|
|        015|        106.0|  Michael Lee| 37|63000.0|
|        019|        103.0|  Steven Chen| 36|62000.0|
+-----------+-------------+-------------+---+-------+

In [ ]:
emp_taxed = emp_Casted.withColumn('tax',col('salary') * 0.2)

In [ ]:
emp1.na.drop().show().sort("salary")

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|New Gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

AttributeError: 'NoneType' object has no attribute 'sort'

In [ ]:
from pyspark.sql.functions import col,expr
emp5 = emp.withColumn("New Gender" , expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end"))

In [ ]:
emp.show()
emp5.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|New Gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [ ]:
Document =[ ("Name = Pranjal, Age = 30")]
Document2= (1,2,3,4,'praka')
type(Document)
type(Document2)

#Document[-1].append('poetry')
#print(Document)

tuple